<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		  crossorigin="anonymous">


</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse bg-dark navbar-fixed-top ">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
			<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/logout}">Logout</a></li>
				</ul>


			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1> Spring Boot, Spring Security App</h1>
		Welcome <span sec:authentication="principal.username"> User</span>
	</div>
</body>
</html>
